# Dependencias
node_modules/

# Build de Next.js
.next/
out/

# Variables de entorno (NO subir a producción)
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp

# Vercel
.vercel
